/Matplotlib eksampels my own.ipynb
/10-02_Statistics/Comparison of groups.ipynb
03-02_Introduction/A Crash Course in Python.ipynb
03-02_Introduction/first data examples.ipynb
05-02_Data Transformation and EDA/Data transformation.ipynb
05-02_Data Transformation and EDA/Exploratory data analysis.ipynb
05-02_Data Transformation and EDA/Missing values and outliers.ipynb
05-02_Data Transformation and EDA/Visualizing data.ipynb
07-02_Data Engineering/DE_Example.ipynb